#botaoPrincipal {
    user-select: none;

    border: 1;
    border-radius: 18px;
    padding: 0.33rem 1rem;
    background-color: #fff;

    box-shadow: 3px 5px 0px rgb(116, 111, 111);

    justify-self: center;

    * {
        color: #000;
        font-size: 28px;
        vertical-align: middle;
    }

    &:hover {
        cursor: pointer;
        
        * {
            cursor: pointer;
        }

        transform: scale(1.075);
        transition: transform 250ms;
    }
}

#inicioBotao {
    user-select: none;
    list-style: none;

    border: 1;
    border-radius: 50%;
    background-color: #fff;

    box-shadow: 3px 5px 0px rgb(116, 111, 111);

    display: flex;
    align-items: center;
    justify-content: center;

    z-index: 1000;
    width: 33px;
    height: 33px;
    position: fixed;
    bottom: 30px;
    right: 30px;

    color: #000;
    font-size: 24px;
    font-weight: 600;

    &:hover {
        transform: scale(1.15);
        transition: transform 250ms;
    }
}

/*
Responsividade
*/
@media(max-width: 600px) {
    #botaoPrincipal {
        * {
            font-size: 18.525px;
        }
    }
}