* {
    margin: 0;
    padding: 0;
    font-family: 'Courier New';

    scrollbar-width: none;
    scroll-behavior: smooth;
    cursor: default;

    color: #fff;
}

head, body {
    background: linear-gradient(to bottom left, #000, rgb(30, 30, 30));
    background-attachment: fixed;
    min-height: 100vh;
}

.headerPrincipal {
    * {
        color: #000;
    }

    position: fixed;
    z-index: 1000;

    margin-top: 2.5vh;
    margin-left: 2.5vh;
    margin-bottom: 3vh;

    background-color: #fff;
    border-radius: 33lvh;

    box-shadow: 3px 5px 0px rgb(155, 150, 150);
            
    ul {
         display: flex;
        list-style: none;

        li {
            a {
                font-size: var(--font-size, 22px);
                text-decoration: none;
            }

            a:hover {
                cursor: pointer;

                font-size: calc(var(--font-size, 22px) * 1.18);
                transition: font-size 250ms;
            }
                
            padding: 0.75vh;
        }
    }
}

.responsivePositionRightBottomCenter {
    position: fixed;
    right: 2.5vh;
    top: 0%;
    transform: translateY(-50%);
}

/*
Responsividade
*/
@media(max-width: 600px) {
    .headerPrincipal {
        top: 2.5vh;
        left: 0;
        right: 0;
        margin: 0 auto;
        margin-bottom: 3vh;
        width: fit-content;

        ul li {
            a {
                font-size: var(--font-size, 18px);
            }

            a:hover {
                font-size: calc(var(--font-size, 22px) * 1.11);
            }
        }
    }

    .responsivePositionRightBottomCenter {
        position: fixed !important;
        bottom: 2.5vh !important;
        right: auto !important;
        top: auto !important;
        left: 50% !important;
        transform: translateX(-50%) !important;
    }
}