/*
Forms
*/
.tituloRegistro {
    justify-self: center;
    justify-items: center;

    width: 87.5%;

    h1 {
        font-size: 5.125vh;
    }

    p {
        text-align: center;
        display: block;
        line-height: 1.2;

        font-size: 2.33vh;
    }

    #slogan {
        letter-spacing: 0.29rem;
        font-size: 1.5vh;

        text-decoration: dotted;
    }

    
    img {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        z-index: -1;

        max-width: 33%;

        filter: brightness(2) contrast(1.2) grayscale(1) invert(0.3);
        opacity: 0.0333;
    }

    padding-bottom: 5rem;
}

#formulario {
    &:hover {
        transform: scale(1.0125);
    }

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;

    width: 47.5%;

    border: 1px solid #fff;
    border-radius: 9.99px;

    padding: 2rem;

    iframe {
        width: 50%;
        height: 16rem;

        border: 1px solid #fff;
        border-radius: 16px;
    }

    input, select {
        cursor: pointer;

        width: 75%;
        height: 2.3325rem;

        border: 1px solid #fff;
        border-radius: 10px;
        box-sizing: border-box;

        background-color: rgba(255, 255, 255, 0.05);

        text-align: left;
        padding-left: 1rem;

        option {
            background-color: rgb(19, 18, 18);
        }

        &::placeholder {
            color: rgba(255, 255, 255, 0.25);
        }

        &:focus {
            transform: scale(1.025);
            background-color: rgba(255, 255, 255, 0.1);

            transition: all 250ms;
        }
    }

    input[type="date"] {
        width: 47.5%;
        text-align: center;
        
        &::-webkit-calendar-picker-indicator {
            filter: invert(1)
        }
    }

    select {
        text-align: center !important;
        text-align-last: center;

        option {
            text-align: center;
        }
    }
    input[type="submit"] {
        text-align: center;
        width: 33%;

        background-color: rgba(255, 255, 255, 0.1);
    
        &:hover {
            transform: scale(1.025);
            background-color: rgba(255, 255, 255, 0.25);

            transition: all 250ms;
        }
    }

    textarea {
        * {
            color: #fff;
        }

        border: 1px solid #fff;
        border-radius: 10px;
        box-sizing: border-box;

        background-color: rgba(255, 255, 255, 0.05);

        margin-top: 0.5rem;

        padding: 0.5rem 1rem;

        width: 75%;
        min-height: 17.5rem;

        &::placeholder {
            color: rgba(255, 255, 255, 0.25);       
        }
    }
    /*
    Custom Elements
    */
    .creditcardContainer {
        padding: 1.5rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 2rem;
        
        position: relative;

        img {
            width: 50%;
            height: auto;
            object-fit: contain;
            flex-shrink: 0;

            z-index: 0;
        }
    }

    .containerInputs {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 120%;
        gap: 0.5rem;
        margin-left: -2rem;

        z-index: 1000;

        label {
            width: 100%;
            color: #fff;
            display: block;
        }

        input {
            width: 100%;
            margin-bottom: 0.5rem;
        }
    }

    .validadeContainer {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;
        width: 100%;

        input {
            width: 40%;
            height: 2rem;
            text-align: center;
            border-radius: 10px;
            border: 1px solid #fff;
            box-sizing: border-box;
        }

        span {
            color: #fff;
            font-size: 1.5rem;
        }
    }

    /**/

    .checkboxContainer {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 0.75rem;

        input[type="checkbox"] {
            width: 1.25rem;
            height: 1.25rem;
            cursor: pointer;
            accent-color: rgba(255, 255, 255, 0.0);
            
            border: 2px solid #fff;
            border-radius: 4px;


            &:checked {
                background-color: rgba(255, 255, 255, 0.25);
            }

            &:hover {
                transform: scale(1.1);
                transition: all 250ms;
            }
        }
    }

    /**/

    .passwordContainer {
        position: relative;
        width: 75%;
        display: flex;
        align-items: center;

        input {
            width: 100%;
            padding-right: 2.5rem;
        }
    }

    .togglePassword {
        position: absolute;
        right: 0.75rem;
        background: none;
        border: none;
        color: #fff;
        cursor: pointer;
        font-size: 1.25rem;
        padding-top: 0.5rem;

        &:hover {
            transform: scale(1.1);
            transform: all 250ms;
        }
    }

    /**/

    .profilePicContainer {
        justify-self: center;
        justify-items: center;
        margin-bottom: 2rem;

        label {
            margin-bottom: 1rem;
        }
    }

    .profileCircle {
        cursor: pointer;
        overflow: hidden;

        margin-top: 0.75rem;

        width: 6.66rem;
        height: 6.66rem;

        border-radius: 50%;
        border: 1px solid #fff;

        display: flex;
        align-items: center;
        justify-content: center;

        background-color: rgba(255, 255, 255, 0.05);
        position: relative;
        transition: all 250ms;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            display: none;
        }

        .uploadIcon {
            font-size: 48px;
            color: #fff;
            transition: all 250ms;
        }

        &:hover {
            transform: scale(1.1); 
        }
    }
}

/*
Responsividade
*/
@media(max-width: 600px) {
    #formulario {
        width: 75%;

        iframe,
        input,
        select,
        textarea,
        .passwordContainer {
            width: 100%;
        }

        label {
            text-align: center;
            display: block;
        }
        .creditcardContainer {
            img {
                position: absolute;
                width: 100%;
                height: 100%;

                opacity: 0.3;
            }
        }

        .containerInputs {
            width: 100%;
            margin-left: 0;
            position: relative;
            padding: 1.5rem;

            label {
                text-align: center;
            }
        }
    }
}