.cardInicial {
    justify-self: center;
    justify-items: center;

    height: 75%;
    width: 75%;

    img {
        position: static;

        max-height: 100%;
        max-width: 100%;
    }

    h1 {
        font-size: 4.25vh;
        font-weight: 500;

        #verdadeSpan:hover {
            text-decoration: underline;
        }
    }

    #botaoInicial {
        * {
            color: #000;
        }

        background-color: #fff;

        border-radius: 33lvh;

        box-shadow: 3px 5px 0px rgb(155, 150, 150);
    }
}