.tituloTermos {
    justify-self: center;
    justify-items: center;

    width: 87.5%;

    h1 {
        font-size: 4.75vh;
    }

    p {
        text-align: center;
        display: block;
        line-height: 1.2;

        font-size: 2.33vh;
    }

    #principios {
        letter-spacing: 0.29rem;
        font-size: 1.5vh;

        text-decoration: dotted;
    }

    img {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        z-index: -1;

        max-width: 33%;

        filter: brightness(2) contrast(1.2) grayscale(1) invert(0.3);
        opacity: 0.0333;
    }

    padding-bottom: 5rem;
}

.termosDeUso {
    justify-content: center;
    align-items: center;
    text-align: center;

    img {
        border-radius: 25px;

        object-fit: cover;
        width: 50%;
    }
}

.pdf-container iframe {
    width: 50%;
    height: 100vh;

    border: 1px solid #fff;
    border-radius: 9.99px;
}

@media(max-width: 600px) {
    .termosDeUso img {
        width: 85%;
    }

    .pdf-container iframe {
        width: 85%;
    }
}